@use "sass:map";

:root{
    --header-height: 7rem;
    --margin-page-portfolio: 1000px;
    --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1)
}


body.app-tablet{
    --header-height: 7rem;
}

$screen-size:(
    "mobile":768px,
    "tablet":1024px
);

@media screen and (max-width: map.get($screen-size,"mobile")){
    body{
        --header-height: 6rem;
    }
}

$font-size: (
    "default":10px,
);

$element-sizes:(
    "header":(
        "height": var(--header-height),
    ),
);

$margin-page:(
    "portfolio": var(--margin-page-portfolio)
);

$border-radius:(
    "400": 4px,
    "default": 10px,
);

$box-shadow:(
    "size-4": 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    "default": var(--box-shadow),
);

$transition:(
    "fast": .1s ease-in-out,
    "default": .3s ease-in-out,
);

