<app-welcome />

<section class="aboutme">
    <h2 class="title">Sobre mi</h2>
    <h3 class="subtitle">Un poco sobre mi</h3>
    <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat repudiandae distinctio rerum iusto eveniet expedita tenetur exercitationem molestias maiores excepturi earum nesciunt illum quae, sed accusantium dignissimos ullam reprehenderit non.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat repudiandae distinctio rerum iusto eveniet expedita tenetur exercitationem molestias maiores excepturi earum nesciunt illum quae, sed accusantium dignissimos ullam reprehenderit non.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat repudiandae distinctio rerum iusto eveniet expedita tenetur exercitationem molestias maiores excepturi earum nesciunt illum quae, sed accusantium dignissimos ullam reprehenderit non.
    </p>
    <h3 class="subtitle">Tecnologias y herramientas</h3>
    <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, est hic vero nobis in nostrum consectetur sit, culpa error itaque ea? Eligendi, autem? Laborum qui eligendi laboriosam fugit nisi quo?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, est hic vero nobis in nostrum consectetur sit, culpa error itaque ea? Eligendi, autem? Laborum qui eligendi laboriosam fugit nisi quo?
    </p>
</section>
<section class="services">
    <h2 class="title">Servicios</h2>
    <div class="services__container">
        @for (serviceCard of serviceCards(); track $index) {
            <app-service-card [data]="serviceCard" ></app-service-card>
        }
    </div>
</section>
<section class="experience">
    <h2 class="title">Experiencia / Proyectos</h2>
    <div class="experience__container" >
        @for (experienceCard of displayExperienceCards(); track experienceCard.title) {
            <app-experience-card [data]="experienceCard" ></app-experience-card>
        }
    </div>
    <button class="button experience__button" (click)="displayMoreExperience()">
        {{displayExperienceCards().length === this.experienceCards().length ? 'Ver menos': 'Ver más'}}
    </button>
</section>
<section class="contact">
    <h2 class="title">Contacto</h2>
    <div class="contact__container">
        <div class="contact__container-info">
            <h3 class="subtitle">Escribeme por donde prefieras</h3>
            <div class="contact__item">
                <h6>Email</h6>
                <p>sebaaignacio111&#64;gmail.com</p>
            </div>
            <div class="contact__item">
                <h6>Whatsapp</h6>
                <p>+56 9 8909 5115</p>
            </div>
        </div>
        <picture>
            <img src="https://avatars.githubusercontent.com/u/44117850?v=4" alt="Contactame">
        </picture>
    </div>
</section>
<section class="developer-by">
    <p>Desarrollado por <span>IkedaDev</span> 🥪</p>
</section>