<app-welcome />

<section class="aboutme">
    <h2 class="title">Sobre mi</h2>
    <h3 class="subtitle">Un poco sobre mi</h3>
    <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat repudiandae distinctio rerum iusto eveniet expedita tenetur exercitationem molestias maiores excepturi earum nesciunt illum quae, sed accusantium dignissimos ullam reprehenderit non.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat repudiandae distinctio rerum iusto eveniet expedita tenetur exercitationem molestias maiores excepturi earum nesciunt illum quae, sed accusantium dignissimos ullam reprehenderit non.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat repudiandae distinctio rerum iusto eveniet expedita tenetur exercitationem molestias maiores excepturi earum nesciunt illum quae, sed accusantium dignissimos ullam reprehenderit non.
    </p>
    <h3 class="subtitle">Tecnologias y herramientas</h3>
    <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, est hic vero nobis in nostrum consectetur sit, culpa error itaque ea? Eligendi, autem? Laborum qui eligendi laboriosam fugit nisi quo?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, est hic vero nobis in nostrum consectetur sit, culpa error itaque ea? Eligendi, autem? Laborum qui eligendi laboriosam fugit nisi quo?
    </p>
</section>
<section class="services">
    <h2 class="title">Servicios</h2>
    <div class="services__container">
        @for (serviceCard of serviceCards(); track $index) {
            <app-service-card [data]="serviceCard"></app-service-card>
        }
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>