<app-welcome />

<section class="aboutme" id="id-about-section">
    <h2 class="title">Sobre mi</h2>
    <h3 class="subtitle">Un poco sobre mi</h3>
    <p class="text">
        Soy titulado de Ingeniería Informática por la Universidad Tecnológica de Chile. Cuento con conocimientos en 
        diversas tecnologías que he aprendido durante mi carrera profesional de manera autodidacta.
    </p>
    <p class="text">
        Me desempeño en el área del desarrollo web, con experiencia en el diseño de nuevas funcionalidades y en la 
        creación de software altamente escalable, eficiente y robusto. Combino con pasión el buen diseño, la 
        tecnología y la innovación en todos mis proyectos, a los que me gusta acompañar desde la idea inicial hasta 
        su lanzamiento.
    </p>
    <h3 class="subtitle">Tecnologias y herramientas</h3>
    <p class="text">
        Utilizando una combinación de tecnologías de última generación y software altamente confiable de código 
        abierto, creo aplicaciones y páginas web robustas, de alto rendimiento y centradas en el usuario para celulares, 
        tablets y computadoras de escritorio.
    </p>
</section>
<section class="services" id="id-services-section">
    <h2 class="title">¿Cómo puedo ayudar a tu empresa?</h2>
    <div class="services__container">
        @for (serviceCard of serviceCards(); track $index) {
            <app-service-card [data]="serviceCard" ></app-service-card>
        }
    </div>
</section>
<section class="experience" id="id-experience-section">
    <h2 class="title">Experiencia / Proyectos</h2>
    <div class="experience__container" >
        @for (experienceCard of displayExperienceCards(); track experienceCard.title) {
            <app-experience-card [data]="experienceCard" ></app-experience-card>
        }
    </div>
    <button class="button experience__button" (click)="displayMoreExperience()">
        {{displayExperienceCards().length === this.experienceCards().length ? 'Ver menos': 'Ver más'}}
    </button>
</section>
<section class="contact" id="id-contact-section">
    <h2 class="title">Contacto</h2>
    <div class="contact__container">
        <div class="contact__container-info">
            <h3 class="subtitle">Escribeme por donde prefieras</h3>
            <div class="contact__item">
                <h6>Email</h6>
                <p>sebaaignacio111&#64;gmail.com</p>
            </div>
            <div class="contact__item">
                <h6>Whatsapp</h6>
                <p>+56 9 8909 5115</p>
            </div>
        </div>
        <picture>
            <img src="https://avatars.githubusercontent.com/u/44117850?v=4" alt="Contactame">
        </picture>
    </div>
</section>
<section class="developer-by">
    <p>Desarrollado por <span>IkedaDev</span> 🥪</p>
</section>