
<header class="header" >
    <div class="header__logo" >IkedaDev</div>
        <nav class="header__nav">
            @for (item of navItems; track $index) {
                <span>{{item.label}}</span>
            }
        </nav>
        <button 
            class="header__menu-hamburger hamburger hamburger--collapse" 
            [class.is-active]="isOpenMenu()" 
            (click)="toggleMenu()" 
            type="button"
        >
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <nav class="header__nav-responsive" [class.is-active]="isOpenMenu()" >
            @for (item of navItems; track $index) {
                <span>{{item.label}}</span>
            }
        </nav>
</header>
