<header class="header" [class.is-header-responsive]="!screenSize.isDesktop()">
    <div class="header__logo" >IkedaDev</div>
    
    @if ( screenSize.isDesktop() ) {
        <nav class="header__nav">
            @for (item of navItems; track $index) {
                <span>{{item.label}}</span>
            }
        </nav>
    }@else {
        <button 
            class="header__menu-hamburger hamburger hamburger--collapse" 
            [class.is-active]="isOpenMenu()" 
            (click)="toggleMenu()" 
            type="button"
        >
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <nav class="header__nav-responsive" [class.is-active]="isOpenMenu()" >
            @for (item of navItems; track $index) {
                <span>{{item.label}}</span>
            }
        </nav>
    }
</header>
