

@font-face {
    font-family: 'Istok Web';
    font-weight: 400;
    src: url(../../fonts/Istok-Web/IstokWeb-Regular.ttf);
}
@font-face {
    font-family: 'Istok Web';
    font-weight: 400;
    font-style: italic;
    src: url(../../fonts/Istok-Web/IstokWeb-Italic.ttf);
}
@font-face {
    font-family: 'Istok Web';
    font-weight: 700;
    src: url(../../fonts/Istok-Web/IstokWeb-Bold.ttf);
}
@font-face {
    font-family: 'Istok Web';
    font-weight: 700;
    font-style: italic;
    src: url(../../fonts/Istok-Web/IstokWeb-BoldItalic.ttf);
}
