@use "sass:map";
@use "../variables/variables" as var;
@use "../variables/colors" as color;

.service-card{
    background-color: map.get(map.get(color.$bg-color,"primary"),"default");
    border-radius: map.get(var.$border-radius, "default");
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    min-height: 430px;
    .service-card__title{
        text-align: center;
        padding: 10px;
        font-size: 2rem;
    }
    .text{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}