@use "sass:map";

@use "../variables/variables" as var;

section.welcome{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    & div.welcome__background{
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
        position: absolute;
        background-size: cover;
    }
}